@import url("https://fonts.googleapis.com/css2?family=Unna&display=swap");

@font-face {
  font-family: "Averta Demo PE Cutted Demo";
  src: url("./assets//fonts/AvertaDemoPECuttedDemo-Regular.otf");
}
@font-face {
  font-family: "Averta-Bold";
  src: url("./assets//fonts/averta-bold.otf");
}
@font-face {
  font-family: "Averta-Semibold";
  src: url("./assets//fonts/averta-semibold.otf");
}
@font-face {
  font-family: "Averta-Black";
  src: url("./assets//fonts/averta-black.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.swiper-pagination-bullet {
  background-color: black;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 6px;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background-color: #f4de88;
}

.dots .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.dots .swiper-pagination-bullet {
  background-color: black;
  border: 0.5px solid #f4de88;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 6px;
  cursor: pointer;
}
.dots .swiper-pagination-bullet-active {
  background-color: #f4de88;
}

@media (min-width: 768px) {
  .swiper-pagination-bullet {
    height: 0.625rem;
    width: 0.625rem;
  }
}
